.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  width: 100%;
}

.section {
  border-left: 1px solid hsl(0deg 0% 85.19%);
  height: 100vh;
  display: grid;
  grid-template-rows: 250px 100px 1fr;
}

.billingSection {
  display: grid;
  align-content: center;
}
